<div class="container">
  <h2 class="row mt-4 mb-5 title">新規登録</h2>

  <%= form_with model:@user, url:user_registration_path, local:true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group row">
      <div class="col-md-4"><%= f.label :last_kname, "名字" %></div>
      <div class="col-md-7"><%= f.text_field :last_name, autofocus: true %></div>
    </div>

    <div class="form-group row">
      <div class="col-md-4"><%= f.label :first_name, "名前" %></div>
      <div class="col-md-7"><%= f.text_field :first_name, autofocus: true %></div>
    </div>

    <div class="form-group row">
      <div class="col-md-4"><%= f.label :nickname, "ニックネーム(表示名)" %></div>
      <div class="col-md-7"><%= f.text_field :nickname, autofocus: true %></div>
    </div>

    <div class="form-group row">
      <div class="col-md-4"><%= f.label :emai, "メールアドレス" %></div>
      <div class="col-md-7"><%= f.email_field :email, autofocus: true, autocomplete: "email", size: 40 %></div>
    </div>

    <div class="form-group row">
      <div class="col-md-4"><%= f.label :password, "パスワード" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %></div>
      <div class="col-md-7"><%= f.password_field :password, autocomplete: "new-password", size: 40 %></div>
    </div>

    <div class="form-group row">
      <div class="col-md-4"><%= f.label :password_confirmation, "パスワード(確認用)" %></div>
      <div class="col-md-7"><%= f.password_field :password_confirmation, autocomplete: "new-password", size: 40 %></div>
    </div>

    <div class="actions mb-3">
      <%= f.submit "ユーザー登録" %>
    </div>
  <% end %>

  <div class="actions row">
    <p>
      ユーザー登録がお済みの方は
      <%= render "devise/shared/links" %>
    </p>
  </div>
</div>