<!--部分テンプレート'users/show.html'-->
<% if user == current_user %>
  <div class="row">
    <div class="col-4">
      <%= attachment_image_tag user, :image, :fill, 100, 100, fallback: "no_image_square.jpg", size: '200x200' %>
    </div>
    <div class="col">
      <div class="content row">
        <table class="table table_user">
          <tbody>
            <tr>
              <th>氏名</th>
              <td><%= user.last_name %><%= user.first_name %></td>
            </tr>
            <tr>
              <th>ニックネーム(表示名)</th>
              <td><%= user.nickname %></td>
            </tr>
            <tr>
              <th>メールアドレス</th>
              <td><%= user.email %></td>
            </tr>
            <tr>
              <th>紹介文</th>
              <td><%= user.introduction %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% else %>
  <div class="row text-center">
    <%= attachment_image_tag user, :image, :fill, 100, 100, fallback: "no_image_square.jpg", size: '200x200' %>
  </div>
  <div class="content row mt-2">
    <table class="table table_user">
      <tbody>
        <tr>
          <th>ニックネーム</th>
          <td><%= user.nickname %></td>
        </tr>
        <tr>
          <th>紹介文</th>
          <td><%= user.introduction %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>