<div class="container">
  <div class="row mt-4">
    <h2 class="mb-3">スポット投稿一覧</h2>

    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>image</th>
          <th>スポット名</th>
          <th>投稿者 (ニックネーム)</th>
          <th>場所</th>
          <th>いいね</th>
          <th>コメント件数</th>
        </tr>
      </thead>

      <tbody>
        <% @introductions.each do |introduction| %>
        <tr>
          <td>
            <%= link_to admin_user_path(introduction.user_id) do  %>
            <%= attachment_image_tag introduction.user, :image, :fill, 40, 40, fallback: "no_image_square.jpg", size: '60x60' %>
            <% end %>
          </td>
          <td>
            <%= link_to admin_introduction_path(introduction.id) do %>
            <%= introduction.place %>
            <% end %>
            </td>
          <td><%= introduction.user.last_name %><%= introduction.user.first_name %> (<%= introduction.user.nickname %>)</td>
          <td><%= introduction.address_prefecture %></td>

          <td>♥<%= introduction.favorites.count %></td>

          <td><%= introduction.introduction_comments.count %>件</td>
        </tr>
        <% end %>
      </tbody>

    </table>
  </div>
</div>