<div class="container">
  <h2 class="row mt-4 mb-5 title">ログイン</h2>

  <%= form_with model:@user, url: user_session_path, local:true do |f| %>
    <div class="form-group row">
      <div class="col-md-3"><%= f.label :emai, "メールアドレス" %></div>
      <div class="col-md-7"><%= f.email_field :email, autofocus: true, autocomplete: "email", size: 40 %></div>
    </div>

    <div class="form-group row">
      <div class="col-md-3"><%= f.label :password, "パスワード" %></div>
      <div class="col-md-7"><%= f.password_field :password, autocomplete: "current-password", size: 40 %></div>
    </div>

    <div class="actions mb-3">
      <%= f.submit "ログイン" %>
    </div>
  <% end %>

  <div class="actions row">
    <p>
      ユーザー登録がお済みでない方は
      <%= render "devise/shared/links" %>
    </p>
  </div>
</div>
