<div class="container">
  <div class="row mt-4 mb-5">
    <h2 class="col-4">スポット紹介</h2>

    <div class="col">
      <div class="row">
        <div class="col-2"><%= link_to '編集する', edit_admin_introduction_path(@introduction), class: "btn btn-sm btn-info" %></div>
        <div class="col">
          <%= link_to "削除する", admin_introduction_path(@introduction), method: :delete, data: {confirm: "本当に消しますか？"},class: "btn btn-sm btn-danger" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <%= attachment_image_tag @user, :image, :fill, 100, 100, fallback: "no_image_square.jpg", size: '150x150' %>
      <div class="content mt-2">
        <table class="table table_admin">
          <tbody>
            <tr>
              <th>ニックネーム</th>
              <td><%= @user.nickname %></td>
            </tr>
            <tr>
              <th>紹介文</th>
              <td><%= @user.introduction %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col">
      <div class="content">
        <table class="table table-striped table_admin">
           <tr>
            <th>画像</th>
            <td><%= attachment_image_tag @introduction, :image, :fill, 100, 100, fallback: "no_image_square.jpg", size: '400x200' %></td>
          </tr>
          <tr>
            <td>スポット名</td>
            <td><%= @introduction.place %></td>
          </tr>
          <tr>
            <td>作者名</td>
            <td><%= @introduction.author %></td>
          </tr>
          <tr>
            <td>作品名</td>
            <td><%= @introduction.title %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= @introduction.address_prefecture %><%= @introduction.address_after_prefecture %><%= @introduction.address_building_name %></td>
          </tr>
          <tr>
            <td>おすすめポイント</td>
            <td><%= @introduction.introduction %></td>
          </tr>
          <tr>
            <td>いいね</td>
            <td>♥<%= @introduction.favorites.count %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>



  <!--コメント機能-->
  <div class="row mt-4">
    <div class="col">
      <div class="content">
        <table class="table table-striped table_admin">
          <thead>
            <tr>
              <th>AI Score</th>
              <th>投稿者</th>
              <th>コメント作成日</th>
              <th>コメント</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @introduction.introduction_comments.each do |introduction_comment| %>
              <tr>
                <% if introduction_comment.score < 0 %>
                  <td class="danger"><i class="fas fa-exclamation-triangle"></i><%= introduction_comment.score %></td>
                <% else %>
                  <td><%= introduction_comment.score %></td>
                <% end %>
                <td>
                  <%= link_to admin_user_path(introduction_comment.user.id) do %>
                  <%= introduction_comment.user.nickname %>
                  <% end %>
                </td>
                <td><%= introduction_comment.created_at.strftime('%Y/%m/%d') %></td>
                <td><%= introduction_comment.comment %></td>
                <td><%= link_to "削除", introduction_introduction_comment_path(introduction_comment.introduction, introduction_comment), method: :delete %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>