<div class="container">
  <div class="row mt-4 mb-5">
    <h2 class="col"><%= @user.nickname %>さんのページ</h2>
    <div class="col"><%= link_to '編集する', edit_admin_user_path(@user), class: "btn btn-info" %></div>
  </div>
  <div class="row">
    <div class="col-4">
      <%= attachment_image_tag @user, :image, :fill, 100, 100, fallback: "no_image_square.jpg", size: '200x200' %>
    </div>

    <div class="col">
      <div class="content">
        <table class="table table-striped table_admin">
          <tbody>
            <tr>
              <td>氏名</td>
              <td><%= @user.last_name %><%= @user.first_name %></td>
            </tr>
            <tr>
              <td>ニックネーム(表示名)</td>
              <td><%= @user.nickname %></td>
            </tr>
            <tr>
              <td>メールアドレス</td>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <td>紹介文</td>
              <td><%= @user.introduction %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <h4>スポット一覧</h4>
    <table class="table table-hover table-striped table_admin ">
      <thead>
        <tr>
          <th>AI Score</th>
          <th>スポット名</th>
          <th>作者名</th>
          <th>場所</th>
          <th>コメント件数</th>
        </tr>
      </thead>

      <tbody>
        <% @introductions.each do |introduction| %>
        <tr>
          <% if introduction.score < 0 %>
            <td class="danger"><i class="fas fa-exclamation-triangle"></i><%= introduction.score %></td>
          <% else %>
            <td><%= introduction.score %></td>
          <% end %>
          <td>
            <%= link_to admin_introduction_path(introduction.id) do %>
            <%= introduction.place %>
            <% end %>
          </td>

          <td><%= introduction.author %></td>

          <td><%= introduction.address_prefecture %></td>

          <% if introduction.is_less_than_0_comment.present? %>
            <td class="danger"><i class="fas fa-exclamation-triangle"></i><%= introduction.introduction_comments.count %></td>
          <% else %>
            <td>
              <%= introduction.introduction_comments.count %>
            </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>