<div class="container">
  <h2 class="row mt-4 mb-5"><%= @user.nickname %>さんのページ</h2>
  <div class="row">
    <div class="col-4">
      <%= attachment_image_tag @user, :image, :fill, 100, 100, fallback: "no_image_square.jpg", size: '200x200' %>
    </div>

    <div class="col">
      <table class="table">
        <tbody>
          <tr>
            <td>氏名</td>
            <td><%= @user.last_name %><%= @user.first_name %></td>
          </tr>
          <tr>
            <td>ニックネーム(表示名)</td>
            <td><%= @user.nickname %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <td>紹介文</td>
            <td><%= @user.introduction %></td>
          </tr>
        </tbody>
      </table>
      <div><%= link_to '編集する', edit_admin_user_path(@user) %></div>
    </div>
  </div>
</div>