<!DOCTYPE html>
<html>
  <head>
    <title>Booktrip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_signed_in? %>
      <header>
        <%= render 'layouts/adminheader' %>
      </header>
      <main class="admin_main">
        <%= render 'layouts/flash' %>
        <%= yield %>
      </main>
      <footer class="admin_footer">
        <%= render 'layouts/footer' %>
      </footer>
    <% else %>
      <header>
        <%= render 'layouts/userheader' %>
      </header>
      <main class="user_main">
        <%= render 'layouts/flash' %>
        <%= yield %>
      </main>
      <footer class="user_footer">
        <%= render 'layouts/footer' %>
      </footer>
    <% end %>
  </body>
</html>
